---
import '@fontsource-variable/oxanium';
import { getCollection, render } from 'astro:content';
import RootLayout from '../layouts/RootLayout.astro';
import Hero from '../components/Hero.astro';
import Insight from '../components/Insight.astro';
import Button from '../components/Button.astro';

const insights = await getCollection("insights");

/**
 * Todos:
  - Enter SEO description and tags
  - Add social media links (linkedIn and GitHub) 
  - Avoid scroll on load until animation happen?
  - Add button to reload animation?
  - Disable animation after first attempt?
 */
---

<style>
  .wrapper {
    height: 100lvh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

  section {
    font-size: 1.3rem;
    padding: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 1.25), rgba(0, 0, 0, 0.25)), url("/universe.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: grid;
    gap: 1rem;

    @media screen and (min-width: 1024px) {
      padding: 8rem;
    }
  }

  .backToTop {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media screen and (min-width: 1024px) {
      margin-top: 8rem;
      margin-bottom: 0;
    }
  }
</style>

<RootLayout title="Parallax milky way" withHero>
  <div class="wrapper">
    <Hero />
    
    <section>
      {insights?.map(async insight => {
        const {slug, data} = insight;
        const {title, subtitle, image} = data;
        const { Content } = await render(insight);
        
        return (
          <>
            <Insight 
              title={title}
              subtitle={subtitle}
              slug={slug}
              image={image}
            >
              <Content />
            </Insight>
          </> 
        )
      })}

      <Button text="Back to top 🚀" className="backToTop" />
    </section>
  </div>
</RootLayout>

<script src="../scripts/scrollToTop.ts"></script>


